<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label t(:name) %>
  <br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label t(:username) %>
  <br />
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label t(:email) %>
  <br />
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label t(:password) %>
  <br />
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation, t(:confirmation) %>
  <br />
  <%= f.password_field :password_confirmation %>
</div>

<div class="field">
  <% if current_user.twitter_token.blank? || current_user.twitter_secret.blank? %>
    <%= t(:connect_alternate_account_message) %>
    &nbsp;
    <%= connect_button("twitter") %>
  <% else %>
    <label><%= f.check_box :disconnect_from_twitter %><%= t(:disconnect_alternate_account_message) %> Twitter</label>
  <% end %>
</div>
