<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label t(:name) %>
  <br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label t(:username) %>
  <br />
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label t(:email) %>
  <br />
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label t(:password) %>
  <br />
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation, t(:confirmation) %>
  <br />
  <%= f.password_field :password_confirmation %>
</div>

<% if signed_in? %>
<div class="field">
  <% if current_user.connected_to?("twitter") %>
  <label><%= check_box :disconnect_from_twitter, "" %><%= t(:disconnect_alternate_account_message) %> Twitter</label>
  <% else %>
  <%= t(:connect_alternate_account_message) %>
  &nbsp;
  <%= connect_button("twitter") %>
  <% end %>
</div>
<% end %>
