<div class="user_info">
  <a href="<%= user_path(user) %>" class="user_base">
    <%= gravatar_for user %>
    
    <span class="user_name"><%= user.name %></span>
    <br />
    <span class="post_count"><%= pluralize(user.posts.count, t(:_post)) %></span>
  </a>
  
  <%= render 'relationships/following', :user => user %>

  <%= render 'relationships/followers', :user => user %>
  
  <%= render 'relationships/follow_form', :user => user %>
  
  <% if current_user?(user) %>
  <% end %>
  
  <div class="clear"></div>
</div>
