<div>
  <div class="main_bar">
    <%= render "posts/fields" %>
    <div id="stream">
      <%= render "posts/stream", :stream => stream, :path => root_path %>
    </div>
  </div>
  
  <div class="info_bar">
    <%= render "users/info", :user => current_user, :show_toggle => true %>
    
    <div class="user_tags">
      <div class="group" onclick="toggleCollapsed(this, 'my_tags');">
        <div class="left"><%= t(:my_tags) %></div>
        <div class="expand_button right"></div>
        <div class="clear"></div>
      </div>
      
      <div id="my_tags" class="tag_group_list" style="display: none">
        <%= render :partial => "tags/tag", :collection => current_user.tags_from_posts, :locals => { :show_checkboxes => true, :show_count => true } %>
      </div>
      
      <div class="group" onclick="toggleCollapsed(this, 'other_tags');">
        <div class="left"><%= t(:other_tags) %></div>
        <div class="expand_button right"></div>
        <div class="clear"></div>
      </div>
      
      <div id="other_tags" class="tag_group_list" style="display: none">
        <%= render :partial => "tags/tag", :collection => current_user.tags_from_followed_users - current_user.tags_from_posts, :locals => { :show_checkboxes => true, :show_count => true } %>
      </div>
    </div>
  </div>
  
  <div class="clear"></div>
</div>
