<% unless tag.nil? %>
  <div id="<%= "post_#{local_assigns[:post].id}" unless local_assigns[:post].nil? %>tag_<%= tag.id %>" class="tag">
    <% if local_assigns[:show_checkboxes] %>
      <%= render "user_tags/follow_form", :tag => tag %>
    <% end %>
    
    <%= link_to tag.name, tag %>
    <%= render "post_tags/tag_form", :post => local_assigns[:post], :tag => tag, :show_untag_all => local_assigns[:show_untag_all], :show_untag => local_assigns[:show_untag] %>
  </div>
<% end %>
