<% unless tag.nil? %>
  <div id="<%= "post_#{post.id}_" unless post.nil? %>tag_<%= tag.id %>" class="tag">
    <% if local_assigns[:show_checkboxes] %>
      <input type="checkbox" />
    <% end %>
    
    <%= link_to tag.name, tag %>
    <% if !current_user.nil? and (post.nil? or current_user.posts.include?(post)) %>
      <% if local_assigns[:show_untag_all] %>
        <%= link_to "×", tag_path(:id => tag.name, :untag => "all"), :method => :delete, :confirm => t(:confirm_untag_all_message) % { :tag => tag.name } %>
      <% end %>
      
      <% if local_assigns[:show_untag] %>
        <%= link_to "×", tag_path(:id => tag.name, :untag => "post", :post_id => post.id), :method => :delete, :post_id => post.id, :onclick => "$('#post_#{post.id}_tag_#{tag.id}').remove();", :remote => true %>
      <% end %>
    <% end %>
  </div>
<% end %>
