<% unless post_tag.nil? %>
  <div id="<%= "post_tag_#{post_tag.id}" %>" class="<%= "foreign_" if post_tag.belongs_to_current_user == "true" %>tag">
    <div class="right">
      <div class="left tag_count">
        <% tag_count = PostTag.find_all_by_tag_id_and_post_id(post_tag.tag.id, post_tag.post.id).length %>
        <% if tag_count > 1 %>
          (<%= tag_count %>)
        <% end %>
      </div>
      
      <div class="left">
        <% if post_tag.belongs_to_current_user == "true" %>
          <%= link_to "−", current_user.post_tags.find_by_post_id_and_tag_id(post_tag.post_id, post_tag.tag_id), :method => :delete, :remote => true %>
        <% else %>
          <%= link_to "+", post_tags_path(:post_id => post_tag.post.id, :tag_id => post_tag.tag.id), :method => :post, :remote => true %>
        <% end %>
      </div>
      
      <div class="clear"></div>
    </div>
  
    <div class="left">
      <%= link_to post_tag.tag.name, post_tag.tag %>
    </div>
    
    <div class="clear"></div>
  </div>
<% end %>
