<%= form_for @post, :remote => true do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  
  <div class="title">
    <%= f.text_field :title, :placeholder => t(:title) %>
  </div>
  
  <div class="tags tag_list">
    <%= f.text_field :tag_list, :placeholder => t(:tag_list_placeholder), :autocomplete => "off", :onkeyup => "tagListTextBoxKeyUp(event, '" + tags_path + "');" %>
  </div>
  
  <div class="clear"></div>
  
  <div class="content">
    <%= f.text_area :content, :placeholder => t(:new_post_message), :class => "expand50-275" %>
  </div>
  
  <div class="actions">
    <div class="left margin-right">
      <%= f.submit t(:post_verb), :disable_with => t(:post_verb) %>
    </div>
    <% if local_assigns[:show_cancel] %>
    <div class="left">
      <%= submit_tag t(:cancel), :type => "button", :onclick => "$('#post_" + @post.id.to_s + "').replaceWith('" + escape_javascript(render "posts/post", :post => @post) + "');" %>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
  
  <div class="clear"></div>
<% end %>
