<%= form_for @post, :remote => true do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  
  <div class="title">
    <%= f.text_field :title, :placeholder => t(:title) %>
  </div>
  
  <div class="tags">
    <%= f.text_field :tag_list, :placeholder => t(:tag_list_placeholder) %>
  </div>
  
  <div class="clear"></div>
  
  <div class="content">
    <%= f.text_area :content, :placeholder => t(:new_post_message), :class => "expand50-275" %>
  </div>
  
  <div class="actions">
    <%= f.submit t(:post_verb) %>
  </div>
  
  <div class="clear"></div>
<% end %>
