<div class="post_item">
  <%= link_to gravatar_for(post.user, :size => 50), post.user %>
  
  <div class="buttons">
    <% if params[:action] != :show %>
      <div class="show_post_button left margin-right">
        <%= link_to "◱", post_path(post) %>
      </div>
    <% end %>
    <% if current_user?(post.user) %>
      <div class="edit_button left margin-right">
        <%= link_to "✎", edit_post_path(post) %>
      </div>
      <div class="delete_button left">
        <%= link_to "×", post, :method => :delete, :confirm => t(:confirm_delete_message) %>
      </div>
    <% end %>
  </div>
  
  <div class="post">
    <span class="user">
      <a href="<%= user_path(post.user) %>">
        <%= post.user.username %>
        <%= post.user.name %>
      </a>
    </span>
    <span class="timestamp"><%= t(:posted_message) % { :time => time_ago_in_words(post.created_at) } %></span>
    <div class="title_and_tags">
      <% unless post.title.blank? %>
        <div class="title"><%= post.title %></div>
      <% end %>
      <% unless post.post_tags.blank? %>
        <div id="post_<%= post.id %>_tags" class="tags">
          <%= render :partial => "post_tags/post_tag", :collection => post.tags_for_user(current_user) %>
        </div>
      <% end %>
      
      <div class="clear"></div>
    </div>
    <div class="content"><%= format_post(post.content) %></div>
    <!--
    if $('post_< %= post.id %>').html().length > TRUNC_POST_LENGTH (or @TRUNC_POST_LENGTH)
      <div style="a href"> t(:more) »</div>
    -->
  </div>
  
  <div class="clear"></div>
</div>
