<div class="post_item">
  <%= link_to gravatar_for(post.user, :size => 50), post.user %>
  
  <div class="buttons">
    <% if current_user?(post.user) %>
    <div class="delete_button">
      <%= link_to "×", post, :method => :delete, :confirm => t(:confirm_delete_message) %>
    </div>
    <% end %>
  </div>
  
  <div class="post">
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="timestamp"><%= t(:posted_message) % { :time => time_ago_in_words(post.created_at) } %></span>
    <div class="title_and_tags">
    <% unless post.title.blank? %>
      <div class="title"><%= post.title %></div>
    <% end %>
    <% unless post.tags.blank? %>
      <%= render 'tags/tags', :tags => post.tags, :show_untag_all => false, :show_untag => true, :post_id => post.id %>
    <% end %>
    
      <div class="clear"></div>
    </div>
    <div id="post_<%= post.id %>" class="content"><%= format_post(post.content) %></div>
    <!--
    if $('post_< %= post.id %>').html().length > TRUNC_POST_LENGTH (or @TRUNC_POST_LENGTH)
      <div style="a href"> t(:more) »</div>
    -->
  </div>
  
  <div class="clear"></div>
</div>
