<header>
  <!--<%= link_to logo, root_path %>-->
  
  <div class="menu">
    <% if signed_in? %>
    <span><%= link_to t(:home), root_path %></span>
    <% end %>
    
    <span><%= link_to t(:user).pluralize, users_path %></span>
    
    <% if signed_in? %>
    <span><%= link_to t(:profile), current_user %></span>
    <span><%= link_to t(:setting).pluralize, edit_user_path(current_user) %></span>
    <% end %>
    
    <span class="hidden"><%= link_to t(:help), help_path %></span>
    <span>
      <% if signed_in? %>
        <%= link_to t(:sign_out), signout_path, :method => :delete %>
      <% else %>
        <%= link_to t(:sign_in), signin_path %>
      <% end %>
    </span>
  </div>
  
  <div class="clear"></div>
</header>
